<p style="color: green"><%= notice %></p>


<% if logged_in? %>
  <h1><%= link_to "Click Me To Create A New New movie", new_movie_path, class: 'links2' %></h1>
<% else %>
  <h1 class="center white">Please log in to create Movies for the community to review</h1>
<% end %>
<h1 class="white">Click on a movie to see reviews</h1>
<br><br>
<h1 class="white">Movies:</h1>

<div id="movies">
  <% if @movies %>
    <% @movies.each do |movie| %>
      <h1> <%= link_to movie.title, {controller: "movies", action: "show", id: movie.id}, class: 'links' %></h1>
    <% end %>
  <% end %>

</div>
