<%provide(:title, 'home')%>
<div class="center">
  <h1 id = "h1home"> Goal of the site: </h1>
  <br>

  <div id = "centerimagediv">
  <%= image_tag 'moviesposter.jpeg', alt: 'film', height: '40%', width: '40%'%>
  </div>

  <br>

  <h1 id = "h1home"> This site was created for movie lovers to see what other movie lovers think of the movies they love! </h3>
</div>
